/*	variables
---------------------------------------------------------------------------------- */

//	colors
$type-color: #333332;
$primary-color: #5cb86e;
$secondary-color: #ededeb;
$dark-color: #4c4d4b;
$light-color: #f4f5f0;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;

// weights
$strong-strength: 85%;
$light-strength: 15%;
$strong-opacity: 0.85;
$light-opacity: 0.15;
